p {
background-color: yellow;
}

#p1 {
 background-color: red;
 text-align: center;
 color: white;
}

.c1 {
background-color: blue;
text-align: right;
color: red;
}

div {
    width: 500px;
    height: 50px;
    background-color: yellow;
    opacity: 0.6;
}

#d1{
    border-style: solid;
    border-color: orange;
    padding-top: 40px;
    padding-left: 50px;
    margin-top: 40px;
}